.tweetCard {
  display: flex;
  padding: 14px 16px;
  border-bottom: 1px solid #eff3f4;
  gap: 12px;
  cursor: pointer;
}

.tweetCard:hover {
  background-color: #f7f9f9;
}

.tweet-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.tweet-content {
  flex: 1;
}

.tweet-header {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.tweet-name {
  font-weight: 700;
}

.tweet-username,
.tweet-time {
  color: #536471;
}

.tweet-text {
  margin: 6px 0 10px;
  font-size: 15px;
  line-height: 1.4;
}

.tweet-actions {
  display: flex;
  justify-content: space-between;
  max-width: 420px;
  color: #536471;
  font-size: 16px;
}

.tweet-actions span {
  padding: 6px;
  border-radius: 50%;
}

.tweet-actions span:hover {
  background-color: rgba(29, 161, 242, 0.1);
  color: #1da1f2;
}
.tweetActions {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.tweetActions button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #8899a6;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.2s ease;
}

/* LIKE */
.tweetActions .like:hover {
  color: #e0245e;
}

.tweetActions .liked {
  color: #e0245e;
  font-weight: bold;
}

/* EDIT */
.tweetActions .edit:hover {
  color: #1da1f2;
}

/* DELETE */
.tweetActions .delete:hover {
  color: #ff3b3b;
}
.tweetCard textarea {
  width: 100%;
  background: #15202b;
  border: 1px solid #1da1f2;
  color: white;
  padding: 8px;
  border-radius: 8px;
}
